.root {
	-fx-focus-color: transparent;
	-fx-border-width: 10;
}

#btnRun {
	-fx-background-color: transparent;
}

#iconRun:hover {
	-fx-opacity: 0.5;
}

#btnStop {
	-fx-background-color: transparent;
}

#iconStop:hover {
	-fx-opacity: 0.5;
}

#btnClearConsole {
	-fx-background-color: transparent;
}

#btnClearConsole > *:hover {
	-fx-fill: #5c6370; /* Subtle */
	-fx-cursor: hand;
}

#menuBar {
	-fx-border-color: #2c313c; /* Overlay */
	-fx-border-width: 0 0 1px 0;
	-fx-border-style: solid;
	-fx-use-system-menu-bar: true;
}

#menuBar, #menuBar * {
	-fx-background-color: #21252b; /* Surface */
	-fx-text-fill: #abb2bf;        /* Text */
}

#menuBar .arrow {
	-fx-background-color: #abb2bf; /* Text */
}

.menu-item:hover, .menu-item:hover > * {
	-fx-background-color: #2c313c !important; /* Overlay */
}

.menu {
	-fx-fill: #abb2bf; /* Text */
}

.menu:hover, .menu:hover > .label {
	-fx-background-color: #2c313c !important; /* Overlay */
}

#cmiDarkMode:focused:checked > .left-container > .check {
	-fx-background-color: #abb2bf; /* Text */
}

#cmiDarkMode:hover > .left-container {
	-fx-background-color: #2c313c !important; /* Overlay */
}

#splitPane {
	-fx-background-color: #282c34; /* Base */
	-fx-border-width: 0;
	-fx-padding: 0;
}

#textEditorScrollPane {
	-fx-border-width: 0;
	-fx-padding: 0;
}

#tabPane {
	-fx-background-color: #21252b; /* Surface */
	-fx-fill: #abb2bf;             /* Text */
	-fx-border-width: 0;
	-fx-padding: 0;
}

#treeView {
	-fx-border-width: 0;
	-fx-padding: 0;
}

.tree-cell {
	-fx-text-fill: #abb2bf;        /* Text */
	-fx-background-color: #21252b; /* Surface */
	-fx-font-size: 16px;
	-fx-font-family: "SF Mono", "Menlo", "Consolas", monospace;
}

.tree-cell:hover {
	-fx-text-fill: #999999;        /* Text */
	-fx-background-color: #2c313c; /* Overlay */
	-fx-font-size: 16px;
	-fx-font-family: "SF Mono", "Menlo", "Consolas", monospace;
}

.tree-cell:selected {
	-fx-text-fill: #ffffff;
	-fx-background-color: #3e4451; /* Selection */
}

#treeView .arrow {
	-fx-background-color: #5c6370bb; /* Subtle with opacity */
}

#treeView .thumb {
	-fx-background-color: #5c6370aa; /* Subtle with opacity */
}

#treeView .thumb:hover, #treeView .thumb:pressed {
	-fx-background-color: #2c313c; /* Subtle */
}

#treeView .increment-button, #treeView .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}

.split-pane:horizontal > .split-pane-divider {
	-fx-background-color: #282c34; /* Base */
}

.split-pane:vertical > .split-pane-divider {
	-fx-background-color: #282c34; /* Base */
}

.split-pane > .split-pane-divider {
	-fx-padding: 0.05em;
	-fx-border: none;
}

.split-pane {
	-fx-background-insets: 0, 0;
	-fx-padding: 0;
}

.split-pane > * > .split-pane {
	-fx-background-insets: 0, 0;
	-fx-padding: 0;
}

.scroll-bar:vertical .increment-arrow, .decrement-arrow {
	-fx-shape: "";
	-fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow, .decrement-arrow {
	-fx-shape: "";
	-fx-padding: 0;
}

.scroll-bar:vertical {
	-fx-pref-width: 14;
	-fx-padding: 3;
}

#tabPane .tab-header-area .tab-header-background {
	-fx-background-color: #282c34; /* Base */
}

#tabPane * {
	-fx-border: 0;
}

#tabPane .tab {
	-fx-background-color: #21252b88; /* Surface with opacity */
}

#tabPane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	-fx-border-color: transparent;
}

#tabPane .tab .tab-label {
	-fx-text-fill: #abb2bf; /* Text */
}

#tabPane .tab:selected {
	-fx-background-color: #2c313c; /* Overlay */
}

#tabPane .tab-content-area * {
	-fx-background-color: #21252b; /* Surface */
}

#consolePane {
	-fx-text-fill: #abb2bf; /* Text */
}

#consolePane .title {
	-fx-background-color: #282c34; /* Base */
	-fx-text-fill: #abb2bf;        /* Text */
	-fx-border-radius: 0;
}

#consolePane .content {
	-fx-background-color: #21252b; /* Surface */
	-fx-border-width: 0;
	-fx-border-color: #21252b;
}

#consolePane .content * {
	-fx-text-fill: #abb2bf;        /* Text */
	-fx-fill: #abb2bf;
	-fx-border-width: 0;
	-fx-padding: 0;
	-fx-background-color: #21252b; /* Surface */
}

#consolePane .content .thumb {
	-fx-background-color: #5c6370aa; /* Subtle with opacity */
}

#consolePane .content .scroll-bar:vertical, #consolePane .content .corner {
	-fx-background-color: #21252b; /* Surface */
	-fx-pref-width: 14;
	-fx-padding: 3;
	-fx-border-width: 0;
	-fx-border-color: #21252b;
}

#consolePane .content .scroll-bar:horizontal {
	-fx-background-color: #21252b; /* Surface */
	-fx-pref-height: 14;
	-fx-padding: 3;
	-fx-border-width: 0;
	-fx-border-color: #21252b;
}

#consolePane .content .thumb:hover, #consolePane .content .thumb:pressed {
	-fx-background-color: #abb2bf; /* Text */
}

#HBox, #HBox * {
	-fx-background-color: #282c34; /* Base */
	-fx-fill: #5c6370;             /* Subtle */
	-fx-border-width: 0;
}

#splitPane {
	-fx-background-color: #282c34; /* Base */
}
