.root {
	-fx-focus-color: transparent;
	-fx-border-width: 0;
}

#btnRun{
	/* TODO: Add styling and icons*/
	-fx-background-color:transparent;
}

#iconRun:hover {
	-fx-opacity: 0.5;
}


#btnStop{
	-fx-background-color:transparent;
}

#iconStop:hover {
	-fx-opacity: 0.5;
}

#btnClearConsole {
	-fx-background-color: transparent;
}

#btnClearConsole > *:hover {
	-fx-fill: #B3B3B3;
	-fx-cursor: hand;
}

#menuBar {
	-fx-border-color: #000;
	-fx-border-width: 0 0 1px 0;
	-fx-border-style: solid;
	-fx-use-system-menu-bar: true;
}

#menuBar, #menuBar * {
	-fx-background-color: #B3661A;
	-fx-text-fill: #F2F2F2;
}

#menuBar .arrow {
	-fx-background-color: #F2F2F2;
}

.menu-item:hover, .menu-item:hover > * {
	-fx-background-color: #B3B3B3 !important;
}

.menu {
	-fx-fill: #F2F2F2;
}

.menu:hover, .menu:hover > .label {
	-fx-background-color: #B3B3B3 !important;
}

#cmiDarkMode:focused:checked > .left-container > .check {
    -fx-background-color: #F2F2F2;
}

#cmiDarkMode:hover > .left-container {
	-fx-background-color: #B3B3B3 !important;
}

#splitPane {
	-fx-background-color: #B3B3B3;
	-fx-border-width: 0;
	-fx-padding: 0;
}

#textEditorScrollPane {
	-fx-border-width: 0;
	-fx-padding: 0;
}

#tabPane {
	-fx-background-color: #B3661A;
	-fx-fill: #F2F2F2;
	-fx-border-width: 0;
	-fx-padding: 0;
}

#treeView {
	-fx-border-width: 0;
	-fx-padding: 0;
}

#treeView * {
	-fx-background-color: #B3661A;
	-fx-fill: #F2F2F2aa;
}

#treeView .arrow  {
	-fx-background-color: #F2F2F2bb;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #B3B3B3;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #B3B3B3;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0.05em;
    -fx-border: none;
} 

.split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
 }
 
 .split-pane > * > .split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
 }
 
 
 .tree-cell:hover {
	-fx-background-color: #B3661A;
 }
 
 #treeView .thumb {
 	-fx-background-color: #F2F2F2EE;
 }
 
 #treeView .thumb:hover, #treeView .thumb:pressed {
 	-fx-background-color: #F2F2F2;
 }
 
 #treeView .increment-button, #treeView .decrement-button {
 	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
 }
 
 .scroll-bar:vertical .increment-arrow, .decrement-arrow {
 	-fx-shape: "";
 	-fx-padding: 0;
 }
 
 .scroll-bar:horizontal .increment-arrow, .decrement-arrow {
 	-fx-shape: "";
 	-fx-padding: 0;
 }
 
 .scroll-bar:vertical {
    -fx-pref-width: 14;
    -fx-padding: 3;
}

#tabPane .tab-header-area .tab-header-background {
	-fx-background-color: #B3B3B3;
}

#tabPane * {
	-fx-border: 0;
}

#tabPane .tab {
	-fx-background-color: #B3661A88;
}

#tabPane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

#tabPane .tab .tab-label {
	-fx-text-fill: #F2F2F2;
}

#tabPane .tab:selected {
	-fx-background-color: #B3661A;
}

#tabPane .tab-content-area * {
	-fx-background-color: #B3661A;
}

#consolePane {
	-fx-text-fill: #F2F2F2;
}

#consolePane .title {
	-fx-background-color: #B3B3B3;
	-fx-text-fill: #F2F2F2;
	-fx-border-radius: 0;
}

#consolePane .content {
	-fx-background-color: #B3661A;
	-fx-border-width: 0;
	-fx-border-color: #B3661A;
}

#consolePane .content * {
	-fx-text-fill: #F2F2F2;
	-fx-fill: #F2F2F2;
	-fx-border-width: 0;
	-fx-padding: 0;
	-fx-background-color: #B3661A;
}

#consolePane .content .thumb {
	-fx-background-color: #F2F2F2AA;
}

#consolePane .content .scroll-bar:vertical, #consolePane .content .corner {
	-fx-background-color: #B3661A;
	-fx-pref-width: 14;
    -fx-padding: 3;
    -fx-border-width: 0;
    -fx-border-color: #B3661A;
}

#consolePane .content .scroll-bar:horizontal {
	-fx-background-color: #B3661A;
	-fx-pref-height: 14;
	-fx-padding: 3;
	-fx-border-width: 0;
	-fx-border-color: #B3661A;
}

 #consolePane .content .thumb:hover, #consolePane .content .thumb:pressed {
 	-fx-background-color: #F2F2F2;
 }

#HBox, #HBox * {
	-fx-background-color: #B3B3B3;
	-fx-fill: #B3661A;
	-fx-border-width: 0;
}

/* #iconRun{
	-fx-icon-color: rgb(0,200,0);
} */
