.root {
	-fx-border-color: transparent;
}

#spAnchorPane {
	-fx-background-color: #B3661A;
	-fx-padding: 0.0;
	-fx-background-insets: 0.0, 0.0;
  	-fx-border-width: 0.0;
  	-fx-background-color: #B3661A;
}

#spAnchorPane .button {
	-fx-background-color: #B3B3B3;
	-fx-text-fill: #F2F2F2;
}

#mainAnchorPane {
	-fx-background-color: #B3661A;
		-fx-border-width: 0.0;
}

/* Text Appearance pane */
#pnlTextAppearance {
	-fx-background-color: #B3661A;
	-fx-text-fill: #F2F2F2;
}

#pnlTextAppearance .label {
	-fx-text-fill: #F2F2F2;
}

#pnlTextAppearance #lblTxtAppeaSize {
	-fx-text-fill: #4D66CC;
}
#pnlTextAppearance #lblTxtAppeaFont {
	-fx-text-fill: #4D66CC;
}

#chcbxNewFont {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-mark-color: black;
}

#chcbxNewFont .context-menu {	
	-fx-background-color: #B3661A;
}

#chcbxNewFont .menu-item:focused {
	-fx-background-color: rgba(100,100,100,0.4);
}

#chcbxNewFont .menu-item > .label {
	-fx-text-fill: #F2F2F2;
}

#chcbxNewFont > .label {
	-fx-text-fill: #F2F2F2;
}
 
#fldNewSize {
 	-fx-background-color: rgba(100,100,100,0.4);
 	-fx-text-fill: #F2F2F2;
 }
 
#sldrNewSize > .track {	
 	-fx-control-inner-background: #777777;
 	-fx-background-insets: 0; 
 }
 
 /* Java Home pane */
#pnlJavaHome {
	-fx-background-color: #B3661A;
}

#pnlJavaHome .label {
	-fx-text-fill: #F2F2F2;
}

/* Theme pane */

#pnlTheme {
	-fx-background-color: #B3661A;
}

#pnlTheme #lblDarkModeTxt {
	-fx-text-fill: #222222;
}

#lblDarkMode {
	-fx-text-fill: #222222;
	-fx-font-size: 16px;
}

#toggleDarkMode .thumb{
	 -fx-background-color: #888888;
}

#toggleDarkMode .thumb-area {
    -fx-background-color: purple;
}

#toggleDarkMode:selected .thumb-area {
    -fx-background-color: orange;
}

/* Custom CSS pane */
#pnlCustomCSS {
	-fx-background-color: #B3661A;
}
#lblAddCustomCssLines {
	-fx-text-fill: #F2F2F2;
}
#fldCustomCSSInput {
	-fx-background-color: #B3661A;
	-fx-border-color: rgba(255,255,255,0.4);
	-fx-text-fill: #009911;
}

#scrollPaneAddedCSS{
	  -fx-background-color: #B3661A;
	  -fx-border-color: transparent;
}

#listViewAddedCSS {
	 -fx-background-color: #B3661A;
	 -fx-border-color: transparent;
}
#listViewAddedCSS .list-cell { 
	-fx-background-color: #B3661A; /* 5 */
	-fx-text-fill: #F2F2F2;
	
}

#listViewAddedCSS .list-cell:even {
	 -fx-background-color: #B3B3B3;
}

#scrollPaneAddedCSS .scroll-pane {
    -fx-background-color: #B3661A;
}

#scrollPaneAddedCSS .scroll-bar:vertical{
    -fx-background-color:transparent;
}
#scrollPaneAddedCSS .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

#scrollPaneAddedCSS .scroll-bar:vertical .thumb {
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 5em;
}

#scrollPaneAddedCSS .increment-button,#scrollPaneAddedCSS .decrement-button {
	 -fx-background-color: transparent;
	
}

#scrollPaneAddedCSS  .scroll-bar .increment-arrow,
#scrollPaneAddedCSS  .scroll-bar .decrement-arrow {	
	
}

.lblCSSText {
	-fx-text-fill: #F2F2F2;
}

#btnRemoveCSS {
	-icon-paint: red;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M 100 100 L 200 200 L 100 200 L 200 100 Z";
    
    -fx-shape: "M 100 300 L 200 200 L 100 200 L 200 100 Z";
}

#btnAddCSSLine {
	-fx-background-color: #B3B3B3;
	-fx-text-fill: #B3661A;
}

/*
 * 
 * Customm Theme pane
 * 
 */
 #pnlCustomTheme {
	-fx-background-color: #B3661A;
}

 #pnlCustomTheme .color-picker {
 	-fx-background-color: transparent;
 	
 }
 
 #pnlCustomTheme .color-picker .color-picker-label{

-fx-text-fill: #F2F2F2;
}

.lblMainColor {
	-fx-text-fill: #F2F2F2;
}
 
 
/* Support pane */
#pnlSupport {
	-fx-background-color: #B3661A;
}

#pnlSupport .hyperlink {
	-fx-text-fill: #F2F2F2;
	-fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-underline: false;
}

#pnlSupport .hyperlink:hover {
	-fx-text-fill: #B3661A;
}

.paneHeader {
	-fx-text-fill: #4D66CC;
	-fx-font-size: 16px;
}

